## need to add server.  entries to enable HTTPS with SSL keystore, replace "????" with correct entries

server.port=8443
server.ssl.key-alias=artemis
server.ssl.key-store-password=CHANGE_ME
server.ssl.key-store=classpath:artemis.p12
server.ssl.key-store-type=PKCS12
 
